<!doctype html>
<html lang="{{ globals.current_language }}">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous">

    <title>{{ globals.page_title }} - {{ config.site_title }}</title>
</head>
<body>

<div class="container">
    <h1>{{ globals.page_title }}</h1>

    {{ content|raw }}
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
</body>
</html>