<p>
    Current Language: {{ globals.current_language }}
</p>

<div>
    {{ post.body }}
</div>
<hr />

<p>
    <a href="/{{ globals.current_language }}/posts" class="btn btn-primary">BACK TO POSTS MASTER</a>
</p>