<p>
    Current Language: {{ globals.current_language }}
</p>

<ul>
    {% for post in posts %}
        <li><a href="{{ post.permalink() }}">{{ post.title }}</a></li>
    {% endfor %}
</ul>

<p>
    <a href="/" class="btn btn-primary">GO BACK TO HOME</a>
</p>